.product {
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    transform: scale(1);
    transition: transform .3s;
}

.productContent {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 15px;
}

.productContent .title {
    font-size: 15px;
    font-weight: 700;
    color: #373737;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: calc(var(--line-height) * 2em);
    line-height: var(--line-height);

    --line-height: 1.2;
}

.product:hover .productContent .title {
    display: table;
}

.product:hover {
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    transform: scale(1.025);
    transition: transform .3s;
}


.productContent .description {
    font-size: 17px;
    font-weight: 400;
}

.productContent img {
    border-radius: 10px;
}

.favButton {
    position: absolute !important;
    top: 4px;
    right: 4px;
    z-index: 2;
    width: 32px;
    color: rgba(0, 0, 0, 0.35);
    height: 32px;
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.favButton:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}