.products_list_header {
    grid-area: products_list_header;
    color: #796964;
    font-feature-settings: "clig" off,
        "liga" off;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 325px);
    align-content: start;
    grid-gap: 15px 10px;
}

.products_list {
    display: grid;
    grid-area: main_content;
    padding: 30px 40px;
    row-gap: 20px;
    grid-template-areas:
        "products_list_header"
        "products";
    grid-template-rows: min-content auto;
}